.well.bs-component
  = form_for @event, :html => {:class => 'form-horizontal'} do |f|
    - if @event.errors.any?
      #error_explanation
        %h2
          = pluralize(@event.errors.count, "error")
          prohibited this event from being saved:
        %ul
          - @event.errors.full_messages.each do |message|
            %li= message
    %fieldset
      %legend Event
      .form-group
        %label.col-lg-2.control-label Title
        .col-lg-10
          = f.text_field :title, class: "form-control"
      .form-group
        %label.col-lg-2.control-label Description
        .col-lg-10
          = f.text_area :description, class: "form-control", rows: "3"
      .form-group
        %label.col-lg-2.control-label Host
        .col-lg-10
          = f.text_field :host, class: "form-control"
      .form-group
        %label.col-lg-2.control-label Location
        .col-lg-10
          = f.text_field :location, class: "form-control"
      .form-group
        %label.col-lg-2.control-label Date:
        .col-lg-10
          = f.datetime_select :date
      .form-group
        .col-lg-10.col-lg-offset-2
          = f.submit nil , :class => "button btn btn-primary"